In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np

In [2]:
for directory, _, files in os.walk('data'):
    for f in files:
        print(os.path.join(directory, f))

data\gender_submission.csv
data\test.csv
data\train.csv

In [3]:
train_df = pd.read_csv('data/train.csv')
display(train_df.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_df = pd.read_csv('data/test.csv')
display(test_df.head())

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
test_id = test_df['PassengerId']

In [8]:
test_id[:5]

0    892
1    893
2    894
3    895
4    896
Name: PassengerId, dtype: int64

In [9]:
train_df['Cabin'] = train_df['Cabin'].apply(lambda x : 0 if type(x) == float else 1)
test_df['Cabin'] = test_df['Cabin'].apply(lambda x : 0 if type(x) == float else 1)

In [20]:
ageVals = []

ageVals.append([
    train_df['Age'].mean(), 
    train_df['Age'].std()
    ])

ageVals.append([
    test_df['Age'].mean(), 
    test_df['Age'].std()
    ])

ageVals.append(
        np.random.randint(
            ageVals[0][0] - ageVals[0][1], 
            ageVals[0][0] + ageVals[0][1], 
            size = train_df['Age'].isnull().sum()
            ).astype(int))

ageVals.append(
        np.random.randint(
            ageVals[1][0] - ageVals[1][1], 
            ageVals[1][0] + ageVals[1][1], 
            size = train_df['Age'].isnull().sum()
            ).astype(int))

In [21]:
ageVals

[[29.69911764705882, 14.526497332334044],
 [30.272590361445783, 14.18120923562442],
 array([37, 30, 29, 21, 23, 24, 20, 30, 37, 39, 38, 24, 31, 38, 18, 18, 33,
        26, 30, 39, 37, 42, 21, 23, 27, 34, 18, 43, 16, 37, 26, 16, 22, 40,
        22, 27, 39, 29, 18, 21, 43, 15, 25, 24, 34, 25, 16, 16, 37, 38, 40,
        16, 38, 24, 43, 27, 38, 25, 34, 32, 38, 33, 23, 34, 39, 38, 22, 21,
        35, 27, 23, 28, 22, 34, 36, 37, 20, 20, 24, 39, 35, 18, 20, 43, 35,
        16, 38, 34, 30, 32, 19, 40, 37, 29, 23, 16, 34, 36, 24, 39, 36, 28,
        15, 35, 30, 18, 20, 18, 33, 42, 33, 24, 27, 41, 17, 38, 29, 37, 20,
        31, 32, 26, 40, 16, 25, 33, 16, 34, 16, 28, 18, 37, 18, 15, 21, 39,
        25, 40, 27, 28, 16, 41, 28, 34, 23, 15, 20, 41, 18, 35, 30, 42, 15,
        28, 22, 31, 22, 36, 26, 15, 43, 24, 27, 43, 15, 27, 31, 33, 29, 43,
        17, 30, 32, 42, 37, 29, 41]),
 array([37, 41, 17, 32, 24, 18, 39, 31, 34, 40, 39, 42, 43, 33, 34, 29, 27,
        43, 26, 19, 30, 21, 33, 35, 27, 29, 43, 21, 30, 40, 35, 20, 33, 32,
        23, 35, 23, 31, 35, 31, 42, 39, 19, 37, 35, 30, 43, 32, 26, 30, 18,
        38, 18, 43, 27, 24, 32, 42, 30, 23, 23, 26, 26, 29, 26, 37, 28, 23,
        28, 25, 33, 29, 33, 43, 28, 23, 31, 43, 31, 34, 42, 29, 37, 43, 17,
        24, 26, 25, 32, 27, 29, 37, 32, 27, 33, 26, 27, 30, 30, 25, 38, 24,
        36, 42, 41, 34, 31, 18, 20, 31, 36, 22, 42, 19, 33, 18, 34, 20, 29,
        29, 41, 27, 42, 43, 29, 34, 42, 18, 38, 21, 43, 22, 38, 34, 39, 25,
        40, 21, 36, 40, 35, 24, 24, 37, 41, 34, 37, 32, 41, 32, 39, 21, 39,
        27, 43, 38, 26, 41, 38, 29, 43, 23, 32, 38, 35, 29, 42, 32, 28, 41,
        22, 36, 24, 42, 22, 38, 36], dtype=object)]